@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --color-dark: var(--color-dark);
    --color-light: var(--color-light);
    --color-primary: var(--color-primary);
    --color-secundary: var(--color-secundary);
    --color-error: var(--color-error);
    --color-shadow: var(--color-shadow);

    --spacing-tiny: var(--spacing-tiny);
    --spacing-small: var(--spacing-small);
    --spacing-normal: var(--spacing-normal);
    --spacing-large: var(--spacing-large);
    --spacing-very-large: var(--spacing-very-large);

    --font-sans: var(--font-sans);

    --radius-default: var(--radis-default);

    --shadow-default: var(--shadow-default);

    --text-normal: var(--text-normal);

    --text-sub-heading: var(--text-sub-heading);
    --text-sub-heading--font-weight: var(--text-sub-heading--font-weight);

    --text-heading: var(--text-heading);
    --text-heading--font-weight: var(--text-heading--font-weight);
}

:root {
    --color-dark: #1a1a1a;
    --color-light: #f2f2f2;
    --color-primary: #007729;
    --color-secundary: #252440;
    --color-error: #a83643;
    --color-shadow: #1a1a1aa0;

    --spacing-tiny: 0.25rem;
    --spacing-small: 0.50rem;
    --spacing-normal: 0.75rem;
    --spacing-large: 1rem;
    --spacing-very-large: 1.25rem;

    --font-sans: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --radius-default: 0.50rem;

    --shadow-default: 0px 0px 8px 4px #1a1a1aa0;

    --text-normal: 1rem;

    --text-sub-heading: 2rem;
    --text-sub-heading--font-weight: 500;

    --text-heading: 4rem;
    --text-heading--font-weight: bold;
}

* {
    box-sizing: border-box;
    font-family: var(--font-sans);
}

html, body {
    height: 100dvh;
}

main {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: var(--text-heading);
    font-weight: var(--text-heading--font-weight);
}

h2 {
    font-size: var(--text-sub-heading);
    font-weight: var(--text-sub-heading--font-weight);
}

.error {
    color: var(--color-error);
}

.circle {
    width: var(--spacing-small);
    height: var(--spacing-small);
    display: inline-block;
    background-color: var(--color-dark);
    border-radius: 50%;
}