main {
    display: flex;
    flex-direction: column;
}

main > #content {
    flex-grow: 1;
    overflow-x: auto;
}

@media screen and (min-width: 720px) {
    
    main {
        flex-direction: row-reverse;
    }

}