.edit-text-input-container .edit-text-input:focus {
    background-color: transparent;
}

.edit-text-input-container .edit-text-input:focus {
    color: var(--color-light);
}

.edit-text-input-container .edit-text-input:focus ~ .edit-text-button-container {
    color: var(--color-light);
}

.edit-text-input-container .edit-text-input:focus ~ .focus-container {
    transform: translateX(-100%);
    z-index: -1;
}

.edit-text-button-container:hover {
    z-index: 10;
    color: var(--color-light);
}

.edit-text-button-container:hover ~ .focus-container {
    transform: translateX(-12%);
}
