.image-input .avatar-icon path {
    opacity: 100;
}

.image-input figure {
    overflow: hidden;
    margin: auto;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.image-input figure img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.image-input svg,
.image-input path {
    height: 300px;
    width: 350px;
    margin: auto;
}
