.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: var(--spacing-small);
    box-shadow: var(--shadow-default);
    border-radius: var(--radius-default);
    background-color: var(--color-light);
}

.navbar a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
}

.navbar a svg,
.navbar a path {
    width: var(--text-sub-heading);
    height: var(--text-sub-heading);
}

.navbar a:hover {
    transform: translateY(-4px);
}

.navbar div {
    padding: var(--spacing-small);
    border-radius: var(--radius-default);
}

.navbar .selected-tab div {
    background-color: var(--color-secundary);
}

.navbar .selected-tab path {
    fill: var(--color-light);
}
