.primary-button {
    padding: var(--default-padding);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    width: 100%;
    background-color: var(--primary);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--transition);
}

.primary-button:hover {
    filter: brightness(var(--hover-brightness));
}