.video-grid {
    display: grid;
    gap: var(--spacing-small);
}

@media screen and (min-width: 680px) {

    .video-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width:1080px) {
    
    .video-grid {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (min-width:1720px) {
    
    .video-grid {
        grid-template-columns: repeat(4, 1fr);
    }

}